
/*Configuraciones generales*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

body{
  background-color: #251f2c;
  position: flex;
}

/*Pantalla Index*/

.main{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.titulo_p{
  color: #a9acfc;
  font-size: 80px;
  text-align: center;
}


.boton_p {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  height: 80px;
  width: 360px;
  font-size: 32px;
} 

video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.4) ;
}

.windows{
  position: relative;
  float:left;
}

.titulo{
    color: #4e508d;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
}



#mapa a {
    background-repeat: no-repeat;
  }
  
.pin {
    float: right;
    margin: 100px;
}

cursor {
    
    cursor: pointer;
  }
  
  /* Cambiar el cursor cuando se sitúa sobre un botón */
  button {
    cursor: help;
  }
  
  /* Cambiar el cursor cuando se sitúa sobre una imagen */
  img {
    cursor: pointer;
  }
  
  /* Cambiar el cursor cuando se sitúa sobre un elemento de formulario */
  input[type="submit"] {
    cursor: pointer;
  }


.clasMenuJugar {
    display: none;
    position: relative;
    top: 100%;
    left: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
  }

.ventana-emergente {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
}

.ventana-emergente .contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px #ccc;
}

.ventana-emergente .contenido h2 {
    margin-top: 0;
}

.ventana-emergente .contenido p {
    margin-bottom: 0;
}

/* Estilos para la información del cuestionario: Título, imagen, preguntas, boton */
.form {
  margin: 0 auto;
  width: 210px;
}

.form label{
  display: block;
  text-align: right;
  float: left; 
}

.form input{
  display: block;
  text-align: left;
  float: right;  
}

.center-text {
  text-align: center;
}

.center-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/*Estilo para aside con puntajes*/
.puntaje {
  position: absolute;
  float:left;
  width: 15%;
  height: 150px;
  background-color: #b9d58f;
  top: 45%;
  right:3%;
  
}
  p{
    text-align: center;
  }

.texto-puntaje{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px 10px #ffff8c ;
}

/*RESPONSIVE DESIGN*/

@media screen and (max-width: 768px) {
  

  
.main{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.titulo_p{
  color: #4e508d;
  font-size: 50px;
}


.boton_p {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  height: 50px;
  width: 225px;
  font-size: 20px;
}  


}